<div class="page_nav" style="display: block;">
	<span> <%= post_all %>条　共<%= page_all %>页</span>
	<a href="?sort=<%= sort %>&p=1">首页</a>
	<% if( !isFirstPage){ %>
	<a href="?sort=<%= sort %>&p=<%= page-1 %>" >上一页</a>
	<% } %>
	
	<% if(!isLastPage) { %>
	<a href="?sort=<%= sort %>&p=<%= page+1 %>">下一页</a>
	<% } %>
	<a href="?sort=<%= sort %>&p=<%= page_all %>">尾页</a>
</div>
