<%- include header %>

<div id="main">
	<div class="main-right">
		<div class="head">
			<img src="<%= login_user.head %>">
			<span>用户名：<%= login_user.name %></span>
			<span>性　别：<%= login_user.sex %></span>
		</div>
			<ul class="data-content">
				<li>手机号：<%= login_user.phone %></li>
				<li>邮　箱：<%= login_user.email %></li>
				<li>生　日：<%= login_user.birth %></li>
				<li>年　龄：<%= age %>岁</li>
				<li>帖　子：共 <%= post_all %> 篇</li>
			</ul>
	</div>

	<%- include person_left %>
	
	<div class="clearfix"></div>
</div>

<%- include footer %>
<link rel="stylesheet" type="text/css" href="/stylesheets/person.css" />
<script type="text/javascript" src="/javascripts/jquery-1.11.0.js"></script>
<script type="text/javascript" src="/javascripts/jquery.ui.js"></script>
<script type="text/javascript">
	$(function() {
		
			$('#type').mouseover(function() {
				$('.type-list').css('display', 'block')
			})
			$('.type-list').mouseover(function() {
				$('.type-list').css('display', 'block')
			})
			$('#type').mouseout(function() {
				$('.type-list').css('display', 'none')
			})
			$('.type-list').mouseout(function() {
				$('.type-list').css('display', 'none')
			})
			
	});
</script>
</body>

</html>